body { margin: 0px; }

#webcam_canvas {
  display: none;
}

#countdown{ display: none; }
#countdown.active{ display: block; }

#app{
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative; 
}
.panel{ display: none; }
.panel.active {
  display: block;
  width: 100%;
  position: relative;
}

.imagecropper {
  /*max-width: 100vw;
  max-height: 100vh;*/
  height: 763px;
  overflow: hidden;
}


.imagecropper img {
  /*width: 118%;
  margin-left: -9%;*/
  height: 100%;
}

#countdown {
  position: absolute;
  left: 50vw;
  top: 40vh;
  color: white;
  font-size: 10em;
}

.caption {
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background-color:rgba(255, 255, 255, 0.5);

  text-align: center;
  font-size: 2em;
}

#printing { display: none; }
@media print {
  #printing { 
    display: block;
    max-width: 146mm;
    max-height: 98mm;
  }
  #app { display: none; }

  .imagecropper {
    max-width: 100vw;
    max-height: 100vh;
  }

  .imagecropper img {
    width: 118%;
    margin-left: -9%;
  }
}