#canvas {
  display: none;
}

#countdown{ display: none; }
#countdown.active{ display: block; }

.panel{ display: none; }
/*.panel.active { border: 1px solid red; }*/
.panel.active { display: block; }